body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
.Leter {
  color: green;
}
.state {
  cursor: default;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  display: inline-block;
  color: black;
  border: transparent outset 5px;
  transition: background-color 0.5s, color 0.5s, border-left 0.5s;
}

.state:hover {
  background-color: white;
  color: green;
  border-left: green outset 5px;
}
.Letter {
  float: none;
}

h1 {
  margin: 10px 10px 60px 40px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  font-variant: small-caps;
  letter-spacing: -2px;
  word-spacing: 50px;
  text-shadow: 2px 5px 20px green;
  color: black;
}
